In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from math import sqrt

In [2]:
from selenium import webdriver
from time import sleep
options = webdriver.ChromeOptions()
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless') #내부 창을 띄울 수 없으므로 설정
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
# 브라우저 윈도우 사이즈
options.add_argument('window-size=1920x1080')
# 사람처럼 보이게 하는 옵션들
options.add_argument("disable-gpu")   # 가속 사용 x
options.add_argument("lang=ko_KR")    # 가짜 플러그인 탑재
options.add_argument('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36')  # user-agent 이름 설정|
# selenium에서 사용할 웹 드라이버 절대 경로 정보
# selenum의 webdriver에 앞서 설치한 chromedirver를 연동한다.
driver.implicitly_wait(2)

C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\1905562553.py:8: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [3]:
#!pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp311-cp311-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 30.0 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.2

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)
driver.get("http://www.statiz.co.kr/league.php?opt=2022&sopt=1")

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

tables = soup.find_all('table')

for i, table in enumerate(tables):
    data = []
    rows = table.find_all('tr')
    for row in rows:
        cells = row.find_all('td')
        data.append([cell.text for cell in cells])

    df = pd.DataFrame(data)
    print(f"DataFrame for table {i}:")
    df.to_csv(f'22두산_{i}.csv')

driver.quit()

C:\Users\josuh\AppData\Local\Temp\ipykernel_1688\700825597.py:5: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

DataFrame for table 0:
DataFrame for table 1:
DataFrame for table 2:
DataFrame for table 3:
DataFrame for table 4:
DataFrame for table 5:
DataFrame for table 6:
DataFrame for table 7:
DataFrame for table 8:
DataFrame for table 9:
DataFrame for table 10:
DataFrame for table 11:

In [24]:
df = pd.read_csv('22두산_2.csv',encoding = 'UTF-8')
df = df.drop('Unnamed: 0',axis=1)
#df.to_csv('22시즌팀별 대결표.csv')

In [46]:
column = ['순','팀','승','패','무','승률']
df = pd.read_csv('22두산_11.csv',encoding = 'UTF-8')
df = df[1:]
df = df.drop('Unnamed: 0',axis=1)
df = pd.DataFrame(data = df.values,
                  columns = column)
df
#df.to_csv('22시즌_vs우언경기팀순위.csv')

In [79]:
team_basic = pd.DataFrame(columns = ['순', '이름', '팀', 'WAR*', 'G', '타석', '타수', '득점', '안타', '2타', '3타', '홈런',
       '루타', '타점', '도루', '도실', '볼넷', '사구', '고4', '삼진', '병살', '희타', '희비', '타율',
       '출루', '장타', 'OPS', 'wOBA', 'wRC+', 'WAR*', 'WPA'])
for year in range(2012,2023):
    url = f'http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys={year}&ye={year}&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&de=1&lr=5&tr=&cv=&ml=1&sn=30&si=&cn='
    year_s = pd.read_html(url)[0].iloc[4:,:31]
    year_s.columns =year_s.columns.droplevel([0,1])
    team_basic = pd.concat([team_basic,year_s])

In [83]:
team_basic.reset_index(drop=True,inplace = True)
team_basic

,순,이름,팀,WAR*,G,타석,타수,득점,안타,2타,...,희타,희비,타율,출루,장타,OPS,wOBA,wRC+,WAR*,WPA
0,1,삼성,12,33.80,1668,5161,4436,628,1205,200,...,91,47,.272,.353,.389,.742,.344,113.9,33.80,NaN
1,2,SK,12,24.08,1642,4996,4347,564,1120,197,...,118,28,.258,.333,.384,.717,.330,103.9,24.08,NaN
2,3,KIA,12,23.96,1613,5131,4348,553,1112,197,...,132,47,.256,.343,.347,.690,.321,98.1,23.96,NaN
3,4,넥센,12,23.82,1626,5021,4338,549,1056,189,...,92,43,.243,.325,.370,.696,.322,98.7,23.82,NaN
4,5,LG,12,23.42,1733,5180,4539,544,1184,212,...,80,50,.261,.332,.354,.687,.321,97.7,23.42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,6,삼성,22,20.58,1819,5647,5023,663,1357,241,...,83,41,.270,.334,.387,.721,.328,99.3,20.58,-0.42
102,7,KT,22,19.09,1889,5547,4864,631,1237,191,...,70,44,.254,.330,.375,.704,.322,95.7,19.09,1.09
103,8,두산,22,18.32,1903,5510,4892,638,1249,210,...,53,44,.255,.324,.365,.689,.318,97.5,18.32,-3.71
104,9,롯데,22,16.62,1761,5534,4948,605,1320,227,...,73,42,.267,.328,.383,.711,.324,96.4,16.62,-3.65
105,10,한화,22,13.49,1614,5513,4877,564,1197,217,...,46,40,.245,.319,.352,.671,.311,89.7,13.49,-13.54

In [85]:
team_basic.to_csv('10년치리그기록/10년간리그기록_기본.csv')